# Albert LLM API (https://albert.api.etalab.gouv.fr)
ALBERT_URL=
ALBERT_CLE_API=
ALBERT_MODELE=openweight-medium

# PostgreSQL
DB_HOTE=localhost
DB_PORT=5432
DB_NOM=rula
DB_UTILISATEUR=rula
DB_MOT_DE_PASSE=

# Backend
RULA_PORT=3001
RULA_HOTE=localhost
RULA_MAX_REQUETES_PAR_MINUTE=100

#Feature Base
FEATUREBASE_CLE_API=
FEATUREBASE_BOARD_NAME=